In [30]:
import sqlite3
import pandas as pd 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [31]:
bom_movie_gross = pd.read_csv('data/zippedData/bom.movie_gross.csv.gz')
tmbd = pd.read_csv('data/zippedData/tmdb.movies.csv.gz')
title_crew = pd.read_csv('data/zippedData/imdb.title.crew.csv.gz')
name_basics = pd.read_csv('data/zippedData/imdb.name.basics.csv.gz')
title_p =pd.read_csv('data/zippedData/imdb.title.principals.csv.gz')
title_b =pd.read_csv('data/zippedData/imdb.title.basics.csv.gz')
movies =pd.read_csv('data/zippedData/tmdb.movies.csv.gz')
ratings = pd.read_csv('data/zippedData/imdb.title.ratings.csv.gz')
budget = pd.read_csv('data/zippedData/tn.movie_budgets.csv.gz')

In [32]:
title_crew.head(2)

      tconst  directors              writers
0  tt0285252  nm0899854            nm0899854
1  tt0438973        NaN  nm0175726,nm1802864

In [33]:
title_p.head(2)

      tconst  ordering     nconst  category  job   characters
0  tt0111414         1  nm0246005     actor  NaN  ["The Man"]
1  tt0111414         2  nm0398271  director  NaN          NaN

In [34]:
name_df = title_crew.merge(title_p, on='tconst').merge(name_basics, on='nconst')

In [35]:
name_df

,tconst,directors,writers,ordering,nconst,category,job,characters,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,tt0285252,nm0899854,nm0899854,10,nm1077681,composer,NaN,NaN,Fuad Javadov,NaN,NaN,"actor,composer","tt0300480,tt0285252,tt1051834,tt0991289"
1,tt0285252,nm0899854,nm0899854,1,nm0960950,actor,NaN,"[""Darren Fields""]",Darren Geare,1977.0,NaN,"actor,composer","tt0285252,tt0245438,tt0323155,tt0285416"
2,tt0285252,nm0899854,nm0899854,2,nm0461311,actor,NaN,"[""RJ""]",R.J. Knoll,NaN,NaN,actor,"tt0110443,tt0273923,tt0103405,tt0112740"
3,tt0285252,nm0899854,nm0899854,3,nm0000686,actor,NaN,"[""Roy Callahan""]",Christopher Walken,1943.0,NaN,"actor,soundtrack,miscellaneous","tt0077416,tt0264464,tt1931533,tt0427327"
4,tt1931533,nm1732981,nm1732981,4,nm0000686,actor,NaN,"[""Hans""]",Christopher Walken,1943.0,NaN,"actor,soundtrack,miscellaneous","tt0077416,tt0264464,tt1931533,tt0427327"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1027907,tt9004986,nm4993825,nm4993825,3,nm6450115,actor,NaN,"[""Young Mads Ousdal""]",Thomas Kjær Olsen,NaN,NaN,actor,tt3688926
1027908,tt9004986,nm4993825,nm4993825,4,nm10124716,self,NaN,"[""Himself""]",Asbjørn Kongsness,NaN,NaN,NaN,NaN
1027909,tt9010172,NaN,nm8352242,1,nm10126917,actor,NaN,"[""Lena""]",Melissa Ouk,NaN,NaN,actor,tt9010172
1027910,tt9010172,NaN,nm8352242,2,nm8352244,actor,NaN,"[""Sothy""]",T. Nthonie Sok,NaN,NaN,actor,tt5954822
1027911,tt9010172,NaN,nm8352242,3,nm8352242,writer,NaN,NaN,Vibol S. Sungkriem,NaN,NaN,"producer,writer,director","tt5954822,tt6053556"

In [36]:
name_df

,tconst,directors,writers,ordering,nconst,category,job,characters,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,tt0285252,nm0899854,nm0899854,10,nm1077681,composer,NaN,NaN,Fuad Javadov,NaN,NaN,"actor,composer","tt0300480,tt0285252,tt1051834,tt0991289"
1,tt0285252,nm0899854,nm0899854,1,nm0960950,actor,NaN,"[""Darren Fields""]",Darren Geare,1977.0,NaN,"actor,composer","tt0285252,tt0245438,tt0323155,tt0285416"
2,tt0285252,nm0899854,nm0899854,2,nm0461311,actor,NaN,"[""RJ""]",R.J. Knoll,NaN,NaN,actor,"tt0110443,tt0273923,tt0103405,tt0112740"
3,tt0285252,nm0899854,nm0899854,3,nm0000686,actor,NaN,"[""Roy Callahan""]",Christopher Walken,1943.0,NaN,"actor,soundtrack,miscellaneous","tt0077416,tt0264464,tt1931533,tt0427327"
4,tt1931533,nm1732981,nm1732981,4,nm0000686,actor,NaN,"[""Hans""]",Christopher Walken,1943.0,NaN,"actor,soundtrack,miscellaneous","tt0077416,tt0264464,tt1931533,tt0427327"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1027907,tt9004986,nm4993825,nm4993825,3,nm6450115,actor,NaN,"[""Young Mads Ousdal""]",Thomas Kjær Olsen,NaN,NaN,actor,tt3688926
1027908,tt9004986,nm4993825,nm4993825,4,nm10124716,self,NaN,"[""Himself""]",Asbjørn Kongsness,NaN,NaN,NaN,NaN
1027909,tt9010172,NaN,nm8352242,1,nm10126917,actor,NaN,"[""Lena""]",Melissa Ouk,NaN,NaN,actor,tt9010172
1027910,tt9010172,NaN,nm8352242,2,nm8352244,actor,NaN,"[""Sothy""]",T. Nthonie Sok,NaN,NaN,actor,tt5954822
1027911,tt9010172,NaN,nm8352242,3,nm8352242,writer,NaN,NaN,Vibol S. Sungkriem,NaN,NaN,"producer,writer,director","tt5954822,tt6053556"

In [37]:
ratings1 = title_b.merge(name_df, on='tconst')

In [38]:
ratings1

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,directors,writers,ordering,nconst,category,job,characters,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",8,nm0347899,writer,dialogue,NaN,Gulzar,1936.0,NaN,"music_department,writer,soundtrack","tt0091256,tt0178186,tt1010048,tt2176013"
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",7,nm1194313,writer,story,NaN,Mahasweta Devi,1926.0,2016.0,writer,"tt0108001,tt0832902,tt0063540,tt0178562"
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",10,nm0006210,composer,NaN,NaN,Naushad,1919.0,2006.0,"composer,soundtrack,music_department","tt0054910,tt0266765,tt0044392,tt0053999"
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",1,nm0474801,actor,NaN,"[""Kundan S. Prasad"",""Bajrangi""]",Dilip Kumar,1922.0,NaN,"actor,writer,director","tt0058287,tt0054910,tt0047990,tt0084667"
4,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",2,nm0904537,actress,NaN,"[""Munni"",""Laila-E-Aasmaan""]",Vyjayanthimala,1933.0,NaN,"actress,music_department,miscellaneous","tt0047990,tt0054910,tt0050665,tt0058547"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1027907,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",2,nm3699941,self,NaN,"[""Himself""]",Luis Albuquerque,NaN,NaN,NaN,tt2286153
1027908,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",3,nm9813366,self,NaN,"[""Herself""]",Monica Albuquerque,NaN,NaN,NaN,NaN
1027909,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",4,nm8810966,self,NaN,"[""Himself""]",Ricardo Albuquerque,NaN,NaN,cinematographer,tt6579360
1027910,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",8,nm10538638,cinematographer,NaN,NaN,Wellington Barros,NaN,NaN,cinematographer,"tt10169058,tt9916754"
1027911,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",9,nm10538635,cinematographer,NaN,NaN,Odério Dias,NaN,NaN,cinematographer,"tt9916754,tt10225704,tt10169058,tt10006546"

In [39]:
ratings1

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,directors,writers,ordering,nconst,category,job,characters,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",8,nm0347899,writer,dialogue,NaN,Gulzar,1936.0,NaN,"music_department,writer,soundtrack","tt0091256,tt0178186,tt1010048,tt2176013"
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",7,nm1194313,writer,story,NaN,Mahasweta Devi,1926.0,2016.0,writer,"tt0108001,tt0832902,tt0063540,tt0178562"
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",10,nm0006210,composer,NaN,NaN,Naushad,1919.0,2006.0,"composer,soundtrack,music_department","tt0054910,tt0266765,tt0044392,tt0053999"
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",1,nm0474801,actor,NaN,"[""Kundan S. Prasad"",""Bajrangi""]",Dilip Kumar,1922.0,NaN,"actor,writer,director","tt0058287,tt0054910,tt0047990,tt0084667"
4,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",2,nm0904537,actress,NaN,"[""Munni"",""Laila-E-Aasmaan""]",Vyjayanthimala,1933.0,NaN,"actress,music_department,miscellaneous","tt0047990,tt0054910,tt0050665,tt0058547"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1027907,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",2,nm3699941,self,NaN,"[""Himself""]",Luis Albuquerque,NaN,NaN,NaN,tt2286153
1027908,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",3,nm9813366,self,NaN,"[""Herself""]",Monica Albuquerque,NaN,NaN,NaN,NaN
1027909,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",4,nm8810966,self,NaN,"[""Himself""]",Ricardo Albuquerque,NaN,NaN,cinematographer,tt6579360
1027910,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",8,nm10538638,cinematographer,NaN,NaN,Wellington Barros,NaN,NaN,cinematographer,"tt10169058,tt9916754"
1027911,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",9,nm10538635,cinematographer,NaN,NaN,Odério Dias,NaN,NaN,cinematographer,"tt9916754,tt10225704,tt10169058,tt10006546"

In [29]:
ratings1 = ratings1[ratings1['genres'].notna()]
ratings1 = ratings1[ratings1['runtime_minutes'].notna()]
ratings1 = ratings1[ratings1['characters'].notna()]
ratings1 = ratings1[ratings1['death_year'].notna()]
ratings1 = ratings1[ratings1['writers'].notna()]
ratings1 = ratings1[ratings1['primary_profession'].notna()]

In [40]:
ratings1

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,directors,writers,ordering,nconst,category,job,characters,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",8,nm0347899,writer,dialogue,NaN,Gulzar,1936.0,NaN,"music_department,writer,soundtrack","tt0091256,tt0178186,tt1010048,tt2176013"
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",7,nm1194313,writer,story,NaN,Mahasweta Devi,1926.0,2016.0,writer,"tt0108001,tt0832902,tt0063540,tt0178562"
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",10,nm0006210,composer,NaN,NaN,Naushad,1919.0,2006.0,"composer,soundtrack,music_department","tt0054910,tt0266765,tt0044392,tt0053999"
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",1,nm0474801,actor,NaN,"[""Kundan S. Prasad"",""Bajrangi""]",Dilip Kumar,1922.0,NaN,"actor,writer,director","tt0058287,tt0054910,tt0047990,tt0084667"
4,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",2,nm0904537,actress,NaN,"[""Munni"",""Laila-E-Aasmaan""]",Vyjayanthimala,1933.0,NaN,"actress,music_department,miscellaneous","tt0047990,tt0054910,tt0050665,tt0058547"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1027907,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",2,nm3699941,self,NaN,"[""Himself""]",Luis Albuquerque,NaN,NaN,NaN,tt2286153
1027908,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",3,nm9813366,self,NaN,"[""Herself""]",Monica Albuquerque,NaN,NaN,NaN,NaN
1027909,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",4,nm8810966,self,NaN,"[""Himself""]",Ricardo Albuquerque,NaN,NaN,cinematographer,tt6579360
1027910,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",8,nm10538638,cinematographer,NaN,NaN,Wellington Barros,NaN,NaN,cinematographer,"tt10169058,tt9916754"
1027911,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",9,nm10538635,cinematographer,NaN,NaN,Odério Dias,NaN,NaN,cinematographer,"tt9916754,tt10225704,tt10169058,tt10006546"

In [44]:
ratings1.primary_profession.value_counts()

actor                                              126461
actress                                             87277
producer                                            31957
composer                                            24108
writer                                              22473
                                                    ...
assistant_director,music_department                     1
sound_department,miscellaneous,art_department           1
editor,producer,costume_designer                        1
location_management,actress,art_director                1
production_designer,producer,assistant_director         1
Name: primary_profession, Length: 8631, dtype: int64

In [45]:
director_stats = ratings1.groupby('primary_profession').agg(['median','mean', ]).reset_index()

In [46]:
director_stats = director_stats.primary_profession.str.split(',')

In [47]:
director_stats = director_stats.explode('primary_profession')

In [48]:
director_stats

0                       actor
1                       actor
2        animation_department
3                       actor
4        animation_department
                 ...
25221          visual_effects
25222      production_manager
25223                  writer
25224          visual_effects
25225         special_effects
Name: primary_profession, Length: 25226, dtype: object

In [ ]:
ratings1['genres'].unique

In [ ]:
ratings1['directors'].hist()

In [ ]:
plot.show